.header {
  width: 100%;
  background-color: red;
}
.header :global(.navbar-brand) img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.navLink {
  color: #ccc;
  text-decoration: none;
  transition: 0.3s;
}
.navLink:hover {
  color: #fff;
}
.navLink:global(.active) {
  color: #fff;
}
